@{
    ViewBag.Title = "Контакты социальной сети любителей книг";
    Layout = "~/Areas/Default/Views/Shared/Master.cshtml";
}

@Html.Partial("Header", Html.GetHeaderBlock("Контакты"))

<p>
    В случае возникновения вопросов или проблем, или у Вас есть пожелания,
    Вы можете сообщить нам на почту <a href="mailto:support@clubbybook.com">support@clubbybook.com</a>
    или воспользоваться ссылкой «Обратная связь» внизу страницы.
</p>
<p>
    Если у Вас есть какие-либо предложения по поводу партнерства или размещения рекламы просьба
    написать нам на почту <a href="mailto:admin@clubbybook.com">admin@clubbybook.com</a>.
</p>