@{
    ViewBag.Title = "Пользовательское соглашение социальной сети любителей книг";
    Layout = "~/Areas/Default/Views/Shared/Master.cshtml";
}

@Html.Partial("Header", Html.GetHeaderBlock("Пользовательское соглашение"))

<div class="UserAgreement">
    <p>
        Данное Соглашение регулирует отношения между социальной сетью любителей книг ClubbyBook.com (далее ClubbyBook.com и/или Администрация) и физическим лицом
      (далее - Пользователем), который ведет свою онлайн библиотеку, продает, покупает, обменивает или дарит книги (как бумажные, так и электронные)
      посредством взаимодействия с другими пользователями данного сервиса.
    </p>
    <p>
        Используя ClubbyBook.com для продажи, покупки, обмена или осуществления подарка, или просто ведение своей библиотеки онлайн, а также и любое другое действие,
      которое предлагает сервис социальной сети любителей книг, Пользователь соглашается со всеми условиями сервиса и обязуется их неукоснительно соблюдать,
      или немедленно прекратить использование ClubbyBook.com.
    </p>
    <h2>Общие положения</h2>
    <p>
        ClubbyBook.com - социальная сеть любителей книг - сервис, предоставляющий Пользователю возможность купить, продать, обменять или подарить книгу или несколько книг,
      посредством общения с другими пользователями ресурса, с помощью личных сообщений, а так же позволяет вести свою библиотеку онлайн, а также предоставляющий другие
      возможности связанные с книжной тематикой.
    </p>
    <p>
        Для того что бы получить доступ ко всем возможностям сервиса социальной сети любителей книг, необходимо заполнить регистрационную форму, которая состоит из e-mail и
      пароля. Это единственные обязательные поля.
    </p>
    <p>
        Регистрация Пользователя осуществляется при условии предоставления его личного  e-mail адреса. Администрация оставляет за собой право отменить регистрацию
      Пользователя без объяснения причин.
    </p>
    <p>
        Пользователь несет ответственность за безопасность своего пароля, а также за все действия, совершенные от имени его учетной записи на ClubbyBook.com.
      При утере пароля Пользователь, введя в специальную форму e-mail, который он указывал при регистрации, получает возможность получить временный пароль на свою почту.
    </p>
    <p>
        Пользователь несет полную ответственность за всю информацию, которую вводит во все возможные поля, среди которых: Имя пользователя, Личный комментарий к книге,
      Комментарий к книге, автору, Псевдоним, Сообщение другому пользователю и любое другое поле к которому у него есть доступ. А также несет полную ответственность
      за размещение фотографии (аватарки) учетной записи.
    </p>
    <h2>Права и обязанности</h2>
    <p>
        Участие в социальной сети ClubbyBook.com и использование ее сервисов и возможностей означает полное согласие Пользователя со всеми пунктами настоящего Соглашения.
      Факт регистрации Пользователя на ClubbyBook.com является достоверным подтверждением того, что пользователь прочел и подписал настоящее Соглашение. Незнание
      отдельных пунктов или невнимательное прочтение Соглашения не освобождает Пользователя от их соблюдения. Нарушение Соглашения может послужить причиной отказа
      в доступе к данным, например блокирование или удаление учетной записи, а в некоторых случаях - повлечь за собой гражданскую или уголовную ответственность в
      соответствии с законами Украины.
    </p>
    <h3>Пользователь обязуется:</h3>
    <ul>
        <li>
            не использовать ClubbyBook.com для передачи и публикации материалов, которые являются незаконными, вредоносными, угрожающими, оскорбляющими нравственность,
        клеветническими, нарушающими авторские права, пропагандирующими ненависть и/или дискриминацию людей по расовому, этническому, половому, социальному и
        иным признакам, нарушающими права несовершеннолетних лиц и/или причиняющими им вред в любой форме;
        </li>
        <li>
            не выдавать себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за пользователя входящего
        в  Администрацию сети ClubbyBook.com;
        </li>
        <li>
            не использовать ClubbyBook.com для передачи или любого другого способа опубликования материалов, которые Пользователь не имеет права делать доступными
        по закону или согласно каким-либо контрактным отношениям, или затрагивающим какой-либо патент, товарный знак, торговую марку, коммерческую тайну или копирайт;
        </li>
        <li>
            не использовать ClubbyBook.com для рассылки и размещения не разрешенной специальным образом рекламной информации, спама, "схем-пирамид", "писем счастья",
        материалов, содержащих вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности
        любого компьютерного или телекоммуникационного оборудования и т.п.;
        </li>
        <li>
            уважительно относиться к авторским правам и не выдавать чужие материалы как свои;
        </li>
        <li>
            не нарушать действующее законодательство Украины;
        </li>
        <li>
            не отправлять или передавать/публиковать информацию, содержащую материалы порнографического характера;
        </li>
        <li>
            не совершать действия, приводящие к нарушениям нормальной работы сети.
        </li>
    </ul>
    <p>
        Пользователь также не имеет права воспроизводить, повторять, копировать, продавать, перепродавать, а также использовать для каких-либо коммерческих целей любые части
      ClubbyBook.com без согласия администрации сети и материалы других пользователей, размещенные на ClubbyBook.com, без указания их авторства.
    </p>
    <h3>Администрация ClubbyBook.com оставляет за собой право:</h3>
    <ul>
        <li>
            устанавливать любые ограничения в использовании сервисов ClubbyBook.com;
        </li>
        <li>
            удалять любые материалы, по ее мнению не соответствующие тематике ресурса;
        </li>
        <li>
            прекратить действие пароля Пользователя сервиса и удалить любые данные Пользователя в случае нарушения положений данного Соглашения;
        </li>
        <li>
            изменять пункты настоящего Соглашения ClubbyBook.com без уведомления зарегистрированных пользователей. При этом актуальный текст Соглашения всегда доступен по ссылке:
        <a href="@Url.GoTo(DefaultUrlTemplates.UserAgreement)">http://clubbybook.com/useragreement</a>;
        </li>
        <li>
            прекратить обслуживание учетной записи Пользователя, доступ к которой не осуществлялся Пользователем свыше 6 (шести) месяцев. При этом информация, содержащаяся в
        учетной записи Пользователя, может быть удалена, а пароль Пользователя аннулируется;
        </li>
        <li>
            осуществлять рассылки сообщений зарегистрированным пользователям ClubbyBook.com, содержащих организационно-техническую информацию о возможностях используемого ресурса.
        </li>
    </ul>
    <p>
        Администрация ClubbyBook.com предоставляет Пользователю возможность создания единственной персональной учетной записи. В случае создания Пользователем более одной учетной
      записи Администрация оставляет за собой право удалить созданные учетные записи и/или отказать Пользователю в использовании ClubbyBook.com.
    </p>
    <p>
        Пользователь имеет право прекратить использование ClubbyBook.com и отказаться от созданной им учетной записи сервиса. Для этого, ему необходимо зайти под своей учетной
      записью на ClubbyBook.com и на странице своей учетной записи инициировать удаление аккаунта. В этом случае данные Пользователя не будут удалены, но при этом
      Пользователь будет считаться удаленным.
    </p>
    <p>
        Пользователь имеет право запросить полное удаление всех его данных по средствам написание письма на <a href="mailto:support@clubbybook.com">support@clubbybook.com</a> и
      в свободной форме запросить удаление. Письмо об удалении аккаунта, должно быть написано именно с того почтового адреса, на который был зарегистрирован Пользователь,
      в противном случае Администрация может отказать в удалении учетной записи.
    </p>
    <p>
        Пользователь гарантирует, что является надлежащим правообладателем размещаемых на ClubbyBook.com материалов.
    </p>
    <p>
        После размещения своей фотографии, текстов, комментариев или любых других данных в открытом доступе на сервере сети ClubbyBook.com, Пользователь автоматически разрешает
      их дальнейшее использование или переработку Администрацией ресурса и использованием или просмотр другими пользователями ресурса.
    </p>
    <p>
        Любые материалы, размещенные Пользователем на сайте ClubbyBook.com, а также их части, могут быть использованы Администрацией ресурса в рекламных или маркетинговых
      материалах проекта (в Интернете, СМИ, наружной рекламе и т.п.) с целью привлечения других пользователей на сайт проекта, как с указанием их автора, так и без этого,
      без необходимости получения специального разрешения разместившего материал Пользователя и без выплаты авторского вознаграждения.
    </p>
    <h2>Ответственность</h2>
    <p>
        В случае нарушения Пользователем условий настоящего Соглашения, он может быть привлечен к гражданско-правовой, уголовной и административной ответственности в соответствии
      с действующим законодательством Украины.
    </p>
    <h3>Администрация ClubbyBook.com не несет ответственности за:</h3>
    <ul>
        <li>
            соответствие ClubbyBook.com целям и ожиданиям Пользователя;
        </li>
        <li>
            прямой или косвенный ущерб, причиненный Пользователю в результате ошибок, пропусков, перерывов в работе, удаления файлов, изменения функций, дефектов, задержек в
        работе при передаче данных, несанкционированного доступа к коммуникациям и/или данным Пользователя;
        </li>
        <li>
            заявления или поведение других пользователей ресурса;
        </li>
        <li>
            прекращение доступа Пользователя к данному сервису;
        </li>
        <li>
            сохранность любых данных Пользователя ClubbyBook.com, включая его онлайн библиотеку, имени и фамилии, e-mail’а, города проживания, и пароля, в случае кражи базы данных,
        наличие вирусов или вредоносных приложений на компьютере Пользователя и т.п.;
        </li>
        <li>
            материалы, размещенные, созданные или опубликованные пользователями ClubbyBook.com;
        </li>
        <li>
            содержание личных сообщений и/или комментариев от других пользователей.
        </li>
    </ul>
    <p>
        Администрация ClubbyBook.com обязуется не использовать данные, полученные при регистрации (а также любую другую личную информацию пользователей), в корыстных целях и
      гарантирует неразглашение этих данных, а также не хранить пароль в открытом виде.
    </p>
    <p>
        Пользователь полностью ответственен за сохранность своего пароля и за убытки, могущие возникнуть по причине его утраты или несанкционированного использования его учетной
      записи. Пользователю рекомендуется регулярно менять свой пароль и помнить, что ClubbyBook.com не несет ответственности и не возмещает убытки, возникшие по причине
      несанкционированного использования третьими лицами учетной записи Пользователя. Все действия, совершенные посетителем, авторизовавшимся с паролем Пользователя,
      рассматриваются исключительно как действия Пользователя.
    </p>
    <h2>Интеллектуальная собственность</h2>
    <p>
        Все используемое и предоставляемое программное обеспечение, а также материалы и прочие объекты авторского права, размещенные на ClubbyBook.com, являются собственностью
      их изготовителя (владельца прав) и охраняются законодательством об авторском праве Украины, а также международными правовыми конвенциями. Любое использование объектов
      интеллектуальной собственности (в том числе элементов оформления сайта, символики, текстов и т.д.) ClubbyBook.com без разрешения Администрации ресурса является незаконным
      и может послужить причиной для судебного разбирательства.
    </p>
    <p>
        Администрация  не несет ответственности за дальнейшее использование материалов, полученных с ClubbyBook.com и/или переданных с помощью данного сервиса.
    </p>
</div>