/Sources/Business/bin/Debug/*
/Sources/Business/obj/Debug/*
/Sources/Business/bin/Release/*
/Sources/Business/obj/Release/*

/Sources/Common/bin/Debug/*
/Sources/Common/obj/Debug/*
/Sources/Common/bin/Release/*
/Sources/Common/obj/Release/*

/Sources/Data/bin/Debug/*
/Sources/Data/obj/Debug/*
/Sources/Data/bin/Release/*
/Sources/Data/obj/Release/*

/Sources/Framework/bin/Debug/*
/Sources/Framework/obj/Debug/*
/Sources/Framework/bin/Release/*
/Sources/Framework/obj/Release/*

/Sources/ImageManagement/bin/Debug/*
/Sources/ImageManagement/obj/Debug/*
/Sources/ImageManagement/bin/Release/*
/Sources/ImageManagement/obj/Release/*

/Sources/Web.UI/bin/*
/Sources/Web.UI/obj/Debug/*
/Sources/Web.UI/obj/Release/*

/Sources/WindowsService/bin/Debug/*
/Sources/WindowsService/bin/Release/*
/Sources/WindowsService/obj/Debug/*
/Sources/WindowsService/obj/Release/*

/Sources/Web.UI/Content/book-images/*.png
!/Sources/Web.UI/Content/book-images/cover-empty.png
/Sources/Web.UI/Content/author-images/*.png
!/Sources/Web.UI/Content/author-images/photo-empty.png
/Sources/Web.UI/Content/profile-images/*.png
!/Sources/Web.UI/Content/profile-images/avatar-empty.png
!/Sources/Web.UI/Content/profile-images/avatar-anonymous.png
/Sources/Web.UI/Content/temp-images/*.png

Sources/Web.UI/Logs/*

/Sources/packages/*
~/Sources/packages/repositories.config

*.csproj.user

