<div class="form-group">
    <div class="control-label col-lg-2"></div>
    <div class="col-lg-9">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn-default" href="@Url.GetPreviousUrl()">Отмена</a>
    </div>
    <div class="clearfix"></div>
</div>