<a href="#feedback-modal-div" data-toggle="modal">Обратная связь</a>

<div id="feedback-modal-div" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-label" class="modal-title">Обратная связь</h4>
            </div>
            <div class="modal-body">
                <textarea id="feedback-message" class="TextBox" rows="4" cols="70"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
                <button class="btn btn-primary btn-sm">Отправить</button>
            </div>
        </div>
    </div>
</div>
